<!-- 
    Add this block into to Pazly Blocks section, just like the example block in index.html
-->
<section class="w-full text-p-gray-700 ">
    <div  class="flex md:flex-row flex-col items-center">
        <div  class="w-full md:w-2/6 items-center">
            <!-- Add Headings, Paragraphs, Images, etc. here -->
        </div>
        <div  class="w-full md:w-2/6 items-center">
            <!-- Add Headings, Paragraphs, Images, etc. here -->
        </div>
        <div  class="w-full md:w-2/6 items-center">
            <!-- Add Headings, Paragraphs, Images, etc. here -->
        </div>
    </div>
</section>